<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfaaaaa</title>
    <link th:href = "@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<p>home page</p>


<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
</div>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<a th:href="@{/listproduct}" class="btn btn-primary">productpage</a>

</body>
</html>